@font-face {
  font-family: "Trappist Regular";
  src:url("../fonts/MonTrappist-Black.woff2") format('woff2'),
  url("../fonts/MonTrappist-Black.woff") format('woff'),
  url("../fonts/MonTrappist-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto Regular";
  src:url("../fonts/Roboto-Regular.ttf") format('truetype');
  font-display: block;
}

@font-face {
  font-family: "Roboto Medium";
  src:url("../fonts/Roboto-Medium.ttf") format('truetype');
  font-display: block;
}
@font-face {
  font-family: "Roboto Light";
  src:url("../fonts/Roboto-Light.ttf") format('truetype');
  font-display: block;
}

@font-face {
  font-family: "YesevaOne Regular";
  src:url("../fonts/YesevaOne-Regular.woff2") format('woff2'),
  url("../fonts/YesevaOne-Regular.woff") format('woff'),
  url("../fonts/YesevaOne-Regular.ttf") format('truetype');
  font-display: block;
}